<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                {{ site.personal.name }}
              </h1>
            <p>I am a final-year Masters of Technology by Research(M.Tech res) student at the <a href="https://cds.iisc.ac.in/">Computational and Data Sciences (CDS)</a> Department, of the <a href="https://iisc.ac.in/">Indian Institute of Science</a>, Bengaluru, where I work on multi-modal computer vision. I'm a part of both <a href="https://visual-computing.in/">Visual Computing Lab (VCL)</a> and  <a href="https://val.cds.iisc.ac.in">Vision and AI Lab (VAL)</a> under the joint supervision of my PI's <a href="https://anirbanchakraborty.github.io/">Asst. Prof. Anirban Chakraborty</a>  & <a href="https://cds.iisc.ac.in/faculty/venky/">Prof. R. Venkatesh Babu</a> respectively.
              </p>
              <p>
                I completed by B.Tech. in Computer Science & Engineering from <a href="https://www.spit.ac.in/">Sardar Patel Institute of Technology, Andheri</a> in 2022, and worked for a year in <a href="https://home.barclays/">Barclays</a> as a Data Quality Engineer before pursuing my masters. </p>
              <p>During my batchelors I published my first paper on Fire Class Detection based on YOLO, that won the IAPR best paper for <a href="https://vnit.ac.in/cvip2022/">CVIP 22</a> </p>
              <p>
                My research interests lie in <b>Multi-Modal Learning, Conditional Generative Modeling, 3D Vision, Latent knowledge and Explainability</b>. I'm actively looking for collaborators, please feel free to <a href="TODO:link-to-footer">reach out</a> if you are interested in brainstorming interesting ideas in these directions!
              </p>
              <p style="text-align:center">
                <a href="mailto:{{ site.info.email }}"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/{{ site.info.github }}">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user={{ site.info.scholar }}">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/{{ site.info.linkedin }}"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="https://www.x.com/{{ site.info.twitter }}"> X (Twitter) </a>  &nbsp;/&nbsp;
                <a href="https://www.instagram.com/{{ site.info.instagram }}"> Instagram </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="{{ site.avatar }}" />
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Relevant Courses</h2>
              <p> Courses related to my area of interest during my Masters.
              </p>
            </td>
          </tr>
        </table>
        <table  style="padding:2.5%;width:100%;border:0px;border-spacing:0px;border-collapse:separate;padding-top:0;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="width:50%;text-align:left">
              <h3>Credited Courses</h3>
            </td>
            {% if site.show-grade %}
              <td></td>
            {% endif %}
            <td style="width:50%;text-align:left">
              <h3>Audited Courses</h3>
            </td>
          </tr>
          <tr>
            <td style="width:50%;vertical-align:top;text-align:left">
              <p><b>E1 222</b> Stochastic Models and Applications  <br>
              <b>E9 241</b> Digital Image Processing  <br>
              <b>DS 216</b> Machine Learning for Data Science  <br>
              <b>E0 230</b> Computational Methods in Optimization  <br>
              <b>DS 265</b> Deep Learning and Computer Vision  <br>
            </p>
            </td>
            {% if site.show-grade %}
              <td style="width:10%;vertical-align:top;text-align:left">
                <p>
                  (<b>8</b>/10)<br>
                  (<b>8</b>/10)<br>
                  (<b>8</b>/10)<br>
                  (7/10)<br>
                  (6/10)
                </p>
              </td>
            {% endif %}
            
            <td style="width:50%;vertical-align:top;text-align:left"> 
              <p><b>E2 335</b> Topics in Artificial Intelligence <br>
              <b>E1 213</b> Pattern Recognition and Neural Networks <br>
              <b>E0 298</b> Linear Algebra and Its Applications <br>
              <b>E9 247</b>Learning for 3D Vision and Inverse Graphics<br>
            </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research </h2>
              <p>
                I'm interested in computer vision, machine learning, optimization, and graphics.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <!-- <h1>{{ site.posts.size }}</h1> -->
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">

              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}

        </table>
        <br>
        <br>
        <br>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Ongoing Projects</h2>
              <p> These include ongoing research, side projects and unpublished research work.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:x-large;">
                <a style="font-size:x-large" href="mailto:{{ site.info.email }}"> <i class="fa fa-envelope"></i> </a> &nbsp;|&nbsp;
                <a style="font-size:x-large" href="https://github.com/{{ site.info.github }}"><i class="fa fa-github"></i></a> &nbsp;|&nbsp;
                <a style="font-size:x-large" href="https://scholar.google.com/citations?user={{ site.info.scholar }}"><i class="fa fa-google"></i></a> &nbsp;|&nbsp;
                <a style="font-size:x-large" href="https://www.linkedin.com/in/{{ site.info.linkedin }}"> <i class="fa fa-linkedin"></i> </a> &nbsp;|&nbsp;
                <a style="font-size:x-large" href="https://www.x.com/{{ site.info.twitter }}"> <i class="fa fa-twitter"></i> </a>  &nbsp;|&nbsp;
                <a style="font-size:x-large" href="https://www.instagram.com/{{ site.info.instagram }}"> <i class="fa fa-instagram"></i> </a>
              </p>
            </td>
          </tr>
          <tr>
            <td style="padding:0px; margin:0px;width:100%;vertical-align:middle">
              <br>
              <p style="text-align:center;font-size:x-small;">
                Design and source code from <a style="font-size:x-small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

